/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
#index {
  background-color: #ffff !important;
}
#header {
  background: #fd8f14 !important;
  border-radius: 20px !important;
}
.shopping-cart {
  color: "black" !important;
}
.blockcart {
  background: #ffffff !important;
  border-radius: 20px !important;
}
.featured-products {
  background: #fd8f14 !important;
}
